/*
caracteristicas de las fuentes:
Los valores para font-weigth(peso de la fuente) pueden ser 100, 200, 300, 400, 500, 600, 700, 800,900,  normal, lighter(fina), bold(negrita) y bolder((fuerte).
Las palabras reseradas tienen su equivalente :
lighter = 100
normal = 400,
bold = 700,
bolder = 900,


Los valores para font-style(estilo de fuente) pueden ser : normal, italic u oblique(leve inclinacion y hace lo mismo las dos).

Los valores para font-align(alinear fuente) puede ser : left, right, center o justify.

line-height :
Los valores para text-decoration pueden  ser : normal o none, underline, overline o line-through.

Los valores para text-transform(transformación de texto) pueden ser : capitalize(escribir con mayúscula prime letre de cada palabra), uppercase(mayúsculas) o lowercase(minúscula).

Tambien podemos darle a font-variant(variante de fuente) el valor small-caps(tansforma todo en letras mayusculas pero con el tamaño de las letras minusculas).

text-indent : permite identar el texto.

letter-spacing : altera la separacion entre las letras.

word-spacing: altera espacio entre las palabras.

Pseudo elementos:

::first-letter - modifica la primera letra de todo el texto, mas grande como letras antiguas en pergaminos.
::first-line - modifica toda la linea. crece toda la linea




 */

@font-face {
    /* fuente interna desde la carpeta fonts */
    font-family: "museo";
    src: url("fonts/MuseoSlab-1000.woff");
    src: local("?"),
        /* url("fonts/MuseoSlab-1000.woff2") format("woff2"), */
        url("fonts/MuseoSlab-1000.ttf") format("truetype");
}

p {
    font-family: "museo", Arial;
    font-weight: 700;
}

span {
    font-family: 'Dancing Script', cursive;
}

p.text {
    font-family: Arial;
    font-weight: 700;
    font-style: italic;
    text-align: justify;
    text-decoration: none;
    /* text-transform: lowercase ; */
    font-variant:small-caps;
    text-indent: 14px;
    letter-spacing: -1px;
    word-spacing: 5px;

}

p.text::first-letter {
    font-size: 30px;
}


p.text::first-line {
    font-size: 30px;
}